<footer class="md-footer">
  <div class="footer-left">
    <p>© 2025 BuildingLogiX. All Rights Reserved.</p>
  </div>
  <div class="footer-right">
    <a href="https://github.com/BuildingLogiX" target="_blank">
      <img src="{{ base_url }}/assets/github.svg" class="footer-icon">
    </a>
    <a href="https://buildinglogix.net" target="_blank">
      <img src="{{ base_url }}/assets/blx white.svg" class="footer-icon">
    </a>
    <a href="https://linkedin.com/company/buildinglogix" target="_blank">
      <img src="{{ base_url }}/assets/linkedin.svg" class="footer-icon">
    </a>
  </div>
</footer>
