.md-footer {
    padding-top: 20px; /* Increase the top padding */
    padding-bottom: 20px; /* Increase the bottom padding */
    background-color: #000; /* Ensure it's black, if needed */
    text-align: right;
}
.md-logo {
    height: 40px; /* Adjust height as needed */
}
.md-header__links a {
    text-decoration: none;
    color: #0078D7; /* Adjust color to match your theme */
    font-weight: bold;
}

.md-header__links a:hover {
    text-decoration: underline;
}